<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app
   xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   version="2.5">

  <display-name>Monday Flicks</display-name>

  <!--
  <context-param>
    <param-name>calendar-token</param-name>
    <param-value>1/e7FaaUnBHxPftlwypToVO9ZiCZPhH1dTIleVdRQyOao</param-value>
  </context-param>
  <context-param>
    <param-name>calendar-token-secret</param-name>
    <param-value>SECRET</param-value>
  </context-param>

  <context-param>
    <param-name>twitter-consumer-key</param-name>
    <param-value>VyP9BfSuvsaGgqb5XYQoQ</param-value>
  </context-param>
  <context-param>
    <param-name>twitter-consumer-secret</param-name>
    <param-value>SECRET</param-value>
  </context-param>
  <context-param>
    <param-name>twitter-token</param-name>
    <param-value>233173236-VgDr36veBjl0uNgJ7mMM3z3eEeQ5cYTEVZI4tsCw</param-value>
  </context-param>
  <context-param>
    <param-name>twitter-token-secret</param-name>
    <param-value>SECRET</param-value>
  </context-param>
  -->

  <filter>
    <filter-name>ensureLogin</filter-name>
    <filter-class>com.appspot.mondayflicks.EnsureLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ensureLogin</filter-name>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>scalatra</filter-name>
    <filter-class>com.appspot.mondayflicks.MondayFlicksScalatraFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>scalatra</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>login</filter-name>
    <filter-class>com.appspot.mondayflicks.LoginScalatraFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>login</filter-name>
    <url-pattern>/login</url-pattern>
    <url-pattern>/login/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>authenticationTest</filter-name>
    <filter-class>com.appspot.mondayflicks.AuthenticationScalatraFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>authenticationTest</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>com.appspot.mondayflicks.util.LogContextCreatedListener</listener-class>
  </listener>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Pages for users who are logged in</web-resource-name>
      <url-pattern>/google/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Admin pages</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
      <url-pattern>/login/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>

</web-app>
